.app__footer {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__footer-cards {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 4rem 2rem 2rem;

    .app__footer-card {
        min-width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        margin: 1rem 0;
        padding: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        background-color: #e9d817a7;

        transition: all 0.3s ease-in-out;

        img {
            width: 3rem;
            height: 3rem;
            margin: 0 0.7rem;
        }

        p {
            font-weight: 600;
        }

        a {
            text-decoration: none;
            font-weight: 600;
        }

        &:hover {
            box-shadow: 0 0 20px rgba(237, 206, 29, 0.82);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -o-transform: scale(1.2);
            transform: scale(1.2);

            background-color: lightblue;
        }

        @media screen and (max-width: 450px) {
            width: 100%;
        }
    }
        @media screen and (max-width: 768px) {
            width: 100%;
        }
}

.app__footer-cards .app__footer-card:last-child {
    background-color: rgba(228, 91, 11, 0.902);
    &:hover {
        box-shadow: 0 0 20px rgba(237, 206, 29, 0.715);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);

        background-color: lightblue;
    }
}

.app__footer-form {
    width: 60%;
    flex-direction: column;
    margin: 1rem 2rem;

    div {
        width: 100%;
        margin: 1rem 0;
        cursor: pointer;
        // background-color: var(--primary-color);
        transition: all 0.3s ease-in-out;

        input, textarea {
            width: 100%;
            padding: 1rem;
            border: none;
            border-radius: 1rem;

            font-family: var(--font-base);
            color: var(--gray-color);
            text-shadow: none;
            outline: none;
        }

        textarea {
            height: 200px;
        }

        &:hover {
            box-shadow: 0 0 10px rgba(237, 206, 29, 0.82);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    button {
        padding: 1rem 2rem;
        border-radius: 1rem;
        border: none;
        background-color: rgba(4, 4, 172, 0.523);

        font-weight: 500;
        text-shadow: none;
        outline: none;
        margin: 2rem 0 0 0;
        font-family: var(--font-base);
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 10px rgba(237, 206, 29, 0.82);
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        margin: 1rem 0;
    }
}
